/Cart service/*
!/Cart service/cart_service
!/Cart service/docker-compose.yml
!/Cart service/Dockerfile
!/Cart service/requirements.txt
/Cart service/cart_service/*
!/Cart service/cart_service/config
!/Cart service/cart_service/models
!/Cart service/cart_service/routes
!/Cart service/cart_service/schemas
!/Cart service/cart_service/app.py
/Cart service/cart_service/config/*
!/Cart service/cart_service/config/db.py
/Cart service/cart_service/models/*
!/Cart service/cart_service/models/models.py
/Cart service/cart_service/routes/*
!/Cart service/cart_service/routes/cart_routes.py
/Cart service/cart_service/schemas/*
!/Cart service/cart_service/schemas/cart_schema.py

/Provider service/*
!/Provider service/provider_service
!/Provider service/docker-compose.yml
!/Provider service/Dockerfile
!/Provider service/requirements.txt
/Provider service/provider_service/*
!/Provider service/provider_service/config
!/Provider service/provider_service/models
!/Provider service/provider_service/routes
!/Provider service/provider_service/schemas
!/Provider service/provider_service/app.py
/Provider service/provider_service/config/*
!/Provider service/provider_service/config/db.py
/Provider service/provider_service/models/*
!/Provider service/provider_service/models/models.py
/Provider service/provider_service/routes/*
!/Provider service/provider_service/routes/provider_routes.py
/Provider service/provider_service/schemas/*
!/Provider service/provider_service/schemas/provider_schema.py

/Stock service/*
!/Stock service/images
!/Stock service/stock
!/Stock service/stock_service
!/Stock service/docker-compose.yml
!/Stock service/Dockerfile
!/Stock service/manage.py
!/Stock service/requirements.txt
/Stock service/stock/*
!/Stock service/stock/__init__.py
!/Stock service/stock/asgi.py
!/Stock service/stock/settings.py
!/Stock service/stock/urls.py
!/Stock service/stock/views.py
!/Stock service/stock/wsgi.py
/Stock service/stock_service/*
/Stock service/stock_service/migrations/*
!/Stock service/stock_service/migrations/__init__.py
!/Stock service/stock_service/migrations/0001_initial.py
!/Stock service/stock_service/migrations/0002_remove_product_photofilename_product_product_pic.py
!/Stock service/stock_service/migrations/0003_alter_product_type_delete_type.py
!/Stock service/stock_service/migrations/0004_product_active.py
!/Stock service/stock_service/__init__.py
!/Stock service/stock_service/admin.py
!/Stock service/stock_service/apps.py
!/Stock service/stock_service/models.py
!/Stock service/stock_service/serializers.py
!/Stock service/stock_service/urls.py
!/Stock service/stock_service/views.py

/Login Microservice/*
!/Login Microservice/login
!/Login Microservice/authapp
!/Login Microservice/docker-compose.yml
!/Login Microservice/Dockerfile
!/Login Microservice/manage.py
!/Login Microservice/requirements.txt
/Login Microservice/login/*
!/Login Microservice/login/__init__.py
!/Login Microservice/login/asgi.py
!/Login Microservice/login/settings.py
!/Login Microservice/login/urls.py
!/Login Microservice/login/views.py
!/Login Microservice/login/wsgi.py
/Login Microservice/authapp/*
!/Login Microservice/authapp/migrations
/Login Microservice/authapp/migrations/*
!/Login Microservice/authapp/migrations/__init__.py
!/Login Microservice/authapp/migrations/0001_initial.py
!/Login Microservice/authapp/__init__.py
!/Login Microservice/authapp/admin.py
!/Login Microservice/authapp/apps.py
!/Login Microservice/authapp/models.py
!/Login Microservice/authapp/serializers.py
!/Login Microservice/authapp/urls.py
!/Login Microservice/authapp/views.py


